<footer class="footer">
  <div class="footer__inner">
    <div class="footer__brand">
      <span class="footer__logo">NJC Fire <strong>Control</strong></span>
      <p>Accredited occupational health and safety training for South African workplaces. Keeping your team safe, skilled, and compliant.</p>
    </div>

    <div class="footer__links">
      <h4>Courses</h4>
      <ul>
        <li><a routerLink="/course/fire-fighting">Basic Fire Fighting</a></li>
        <li><a routerLink="/course/forklift">Forklift Operation</a></li>
        <li><a routerLink="/course/overhead-crane">Overhead Crane</a></li>
        <li><a routerLink="/course/first-aid">First Aid</a></li>
        <li><a routerLink="/course/ohs">OHS Awareness</a></li>
      </ul>
    </div>

    <div class="footer__links">
      <h4>Company</h4>
      <ul>
        <li><a routerLink="/about">About Us</a></li>
        <li><a routerLink="/products">Products</a></li>
        <li><a routerLink="/contact">Contact</a></li>
        <li><a routerLink="/about">Objectives</a></li>
      </ul>
    </div>

    <div class="footer__contact">
      <h4>Get in Touch</h4>
      <p>tel: 0606021056</p>
      <p><a href="mailto:info@njcfirecontrol.co.za">info&#64;njcfirecontrol.co.za</a></p>
      <p>Johannesburg, Gauteng</p>
    </div>
  </div>

  <div class="footer__bottom">
    <p>&copy; {{ currentYear }} NJC Fire Control. All rights reserved.</p>
    <p>OHS Act 85 of 1993 Compliant Training Provider</p>
  </div>
</footer>
